<h2>References</h2>

<div class="references">
    <p>[1] Hubble, E. (1929). A relation between distance and radial velocity among extra-galactic nebulae. <em>Proceedings of the National Academy of Sciences</em>, 15(3), 168-173.</p>
    <p>[2] Hubble, E., & Tolman, R. C. (1935). Two methods of investigating the nature of the nebular red-shift. <em>The Astrophysical Journal</em>, 82, 302-337.</p>
    <p>[3] Hubble, E. (1936). <em>The Realm of the Nebulae</em>. Yale University Press.</p>
    <p>[4] Hubble, E. (1937). <em>The Observational Approach to Cosmology</em>. Oxford University Press.</p>
    <p>[5] Einstein, A. (1917). Kosmologische Betrachtungen zur allgemeinen Relativitätstheorie. <em>Sitzungsberichte der Königlich Preußischen Akademie der Wissenschaften</em>, 142-152.</p>
    <p>[6] Einstein, A. (1931). Zum kosmologischen Problem der allgemeinen Relativitätstheorie. <em>Sitzungsberichte der Königlich Preußischen Akademie der Wissenschaften</em>, 235-237.</p>
    <p>[7] Zwicky, F. (1929). On the red shift of spectral lines through interstellar space. <em>Proceedings of the National Academy of Sciences</em>, 15(10), 773-779.</p>
    <p>[8] Lemaître, G. (1927). Un univers homogène de masse constante et de rayon croissant rendant compte de la vitesse radiale des nébuleuses extra-galactiques. <em>Annales de la Société Scientifique de Bruxelles</em>, A47, 49-59.</p>
    <p>[9] Eddington, A. S. (1935). On relativistic degeneracy. <em>Monthly Notices of the Royal Astronomical Society</em>, 95, 194-206.</p>
    <p>[10] Smawfield, M. L. (2025). <em>0-TEP: The Temporal Equivalence Principle</em>. TEP Series.</p>
    <p>[11] Smawfield, M. L. (2025). <em>4-TEP-GL: Temporal Shear and Galactic Rotation Curves</em>. TEP Series.</p>
    <p>[12] Smawfield, M. L. (2026). <em>9-TEP-EXP: What Do Precision Tests of General Relativity Actually Measure?</em> TEP Series. DOI: 10.5281/zenodo.18109760.</p>
    <p>[13] Smawfield, M. L. (2026). <em>18-TEP-HC: The Observable Response Coefficient and the Hubble Tension</em>. TEP Series.</p>
</div>
